---
import Header from "@components/Header.astro";
import Root from "@layouts/Root.astro";
---

<Root title="Coming soon!" description="Not here yet, but will be soon!">
   <Header headerClass="bg-text text-crust" logoFill="fill-crust" />
   <main class="min-h-[75vh] flex items-center justify-center">
      <h1 class="text-center font-display text-7xl lg:text-8xl font-black">
         Coming soon!
      </h1>
   </main>
</Root>
