---
interface Props {
   images: Images[];
   lang?: "en" | "pt";
}

interface Images {
   src: string;
   alt: {
      [key: string]: string;
   };
}

const { images, lang = "en" }: Props = Astro.props;
---

<div class="art-container">
   {
      images.map((art) => (
         <div>
            <img
               src={`../../art/${art.src}`}
               alt={lang === "pt" ? art.alt.pt : art.alt.en}
            />
         </div>
      ))
   }
</div>
