<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Lakelimbo</title>
      <link href="../styles/styles.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <div id="colorTop" class="animHueRotate"></div>
      <nav id="navbar">
         <div id="logo" class="animHueRotate">
            <img src="../assets/color.svg" alt="Lakelimbo" />
         </div>
         <div id="items">
            <a>Something</a>
            <a>Something</a>
            <a>Something</a>
            <a>Something</a>
         </div>
      </nav>
      <main>
         <h1>Under construction</h1>
         {{ content }}
      </main>
   </body>
</html>
