---
import "../../public/styles.css";

export interface Props {
   [key: string]: string;
}

const { title, lang = "en" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap"
         rel="stylesheet"
      />

      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
      />
   </head>
   <body>
      <slot />
      <footer>
         <img src="logo_color_lg.png" alt="Lakelimbo" />
      </footer>
   </body>
</html>
